{% extends '::base.html.twig' %}

{% block body -%}
    
    	<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1> Commentaire </h1>
					</div>
				</div>
			</div>
		</div>
     
    
<div class="container">
 
  <a href="{{ path('comment_new') }}">
                Create a new entry
            </a>
  
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th> ID </th>
        <th>Score</th>
        <th>commentaire</th>
        <th>Actions</th>
     
      </tr>
    </thead>
    <tbody>
       
      <tr>
        <td>{{ entity.id }}</td>
      <td>  {{ entity.score }}</td>
      <td>  {{ entity.body }}</td>
      
        <td><a href="{{ path('comment') }}">
            Back to the list
        </a></td>
        <td>  <a href="{{ path('comment_edit', { 'id': entity.id }) }}">
            Edit
        </a></td>
        <td>     {{ form(delete_form) }}</td>
      </tr>
     
    </tbody>
  </table>
</div>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
{% endblock %}
