{% for cat in categories  %}
    
    
    
    
    <li>
    <a href="{{path('catproj',{'cat' : cat.idCategorieProjet})}}">  {{cat.categorie}}</a>
    
    </li>
    
    
    
    
    
    
    
    
{% endfor   %}
